/* Imported Fonts---------------------------------------------------------------------*/

@import url("https://fonts.googleapis.com/css?family=Monoton|Indie+Flower|Open+Sans|Quicksand");



/* End of Imported Fonts--------------------------------------------------------------*/

/* HEADER-----------------------------------------------------------------------------*/
.default-color {
    background-color: #000;
}


#myBtn {
  display: none; 
  position: fixed; 
  bottom: 20px; 
  right: 30px; 
  z-index: 99; 
  border: none; 
  outline: none; 
  background-color: #000; 
  color: #ffff00; 
  cursor: pointer; 
  padding: 1px; 
  border-radius: 10px; 
  font-size: 18px; 
}

#myBtn:hover {
  background-color: #555;
}


.header-style {
    border-style: solid;
    border-color: #ff0000;
    border-radius: 2px;
    border-width: 10px;
}




/* NAVIGATION HEADER */

#navbar-nav {
    border: none;
    border-radius: 0;
}


.color-me-first {
    background-color: #000;
    position: relative;
}

.center-me {
    text-align: center;
    position: relative;
}

.margin-me {
    margin: 15px;
}

/* Title */

@media (min-width: 992px) {
    .center-me-vertically-custom {
        padding-top: 75px;
    }
}

.unique-font {
    font-family: "Monoton", sans-serif;
    font-size: 50px;
    font-weight: 500;
    text-align: center;
    line-height: 1;
    color: #ffff00;
    animation: neon 0.5s ease-in-out infinite alternate;
}

.no-decoration a:hover {
    text-decoration: none;
}


@keyframes neon {
    from {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.92),
        0 0 30px rgba(202, 228, 225, 0.34),
        0 0 12px rgba(30, 85, 242, 0.52),
        0 0 21px rgba(30, 37, 242, 0.83),
        0 0 34px rgb(21, 18, 241, 0.87),
        0 0 54px rgba(30, 37, 242, 0.92);
    }
    to {
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.92),
        0 0 30px rgba(202, 228, 225, 0.60),
        0 0 12px rgba(30, 85, 242, 0.90),
        0 0 21px rgba(33, 30, 242, 0.99),
        0 0 34px rgb(21, 18, 241, 0.99),
        0 0 54px rgb(30, 37, 242, 0.99)
    }
}

/* Slogan */

.fancy-quote-font {
    font-family: "Indie Flower", sans-serif;
    color: #ffff00;
    font-weight: 900;
    animation: neon 0.5s ease-in-out infinite alternate;
}

@media (min-width: 992px) {
    .center-me-vertically-custom-2 {
        padding-top: 170px;
    }
}

/* NAVIGATION LINKS */

/* Links */

.unordered_list_style {
    font-family: "Monoton", sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    line-height: 1;
    color: #ffff00;
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92),
    0 0 30px rgba(202, 228, 225, 0.34),
    0 0 12px rgba(30, 85, 242, 0.52),
    0 0 21px rgba(30, 37, 242, 0.83),
    0 0 34px rgb(21, 18, 241, 0.87),
    0 0 54px rgba(30, 37, 242, 0.92);
}


.custom-li:hover {
    background-color: #FFFF00;
}

@media (min-width: 768px) {
    .center-me-2 {
        width: 620px;
        margin: auto;
    }
}

/* END OF HEADER--------------------------------------------------------------*/

/* FOOTER--------------------------------------------------------------*/

/*Socials*/

.fa {
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}



.faso {
    margin: 5px;
    padding: 15px;
    width: 65px;
    font-size: 30px;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92),
    0 0 30px rgba(202, 228, 225, 0.34),
    0 0 12px rgba(30, 85, 242, 0.52),
    0 0 21px rgba(30, 37, 242, 0.83),
    0 0 34px rgb(21, 18, 241, 0.87),
    0 0 54px rgba(30, 37, 242, 0.92);

}

@media (max-width: 767px) {
    .faso {
        margin-top: 10px;
        padding: 5px;
        width: 30px;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        text-decoration: none;
        border-radius: 50%;
        text-shadow: 0 0 6px rgba(202, 228, 225, 0.92), 0 0 30px rgba(202, 228, 225, 0.34), 0 0 12px rgba(30, 85, 242, 0.52), 0 0 21px rgba(30, 37, 242, 0.83), 0 0 34px rgb(21, 18, 241, 0.87), 0 0 54px rgba(30, 37, 242, 0.92);
    }
}

.fa-facebook {
    background: #3B5998;
    color: #fff;
}

.fa-twitter {
    background: #55ACEE;
    color: #fff;
}

.fa-instagram {
    background: #125688;
    color: #fff;
}

.fa-youtube {
    background: #bb0000;
    color: #fff;
}

@media (min-width: 992px) {
    .center-me-vertically-custom-3 {
        top: 23px;
    }
}


/*Title and Copyright*/

.fa-copyright {
    font-size: 16px;
    text-align: center;
    color: #ffff00;
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92),
    0 0 30px rgba(202, 228, 225, 0.34),
    0 0 12px rgba(30, 85, 242, 0.52),
    0 0 21px rgba(30, 37, 242, 0.83),
    0 0 34px rgb(21, 18, 241, 0.87),
    0 0 54px rgba(30, 37, 242, 0.92);
}


.unique-font-2 {
    font-family: "Monoton", sans-serif;
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    line-height: 1;
    color: #ffff00;
    animation: neon 0.5s ease-in-out infinite alternate;
}

.unique-font-3 {
    color: #ffff00;
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92),
    0 0 30px rgba(202, 228, 225, 0.34),
    0 0 12px rgba(30, 85, 242, 0.52),
    0 0 21px rgba(30, 37, 242, 0.83),
    0 0 34px rgb(21, 18, 241, 0.87),
    0 0 54px rgba(30, 37, 242, 0.92);
}

/* Subscribe button */

#custom-button-1 {
    background: #0000ff;
    border-radius: 1000px;
    padding: 8px 20px;
    color: #ffff00;
    display: inline-block;
    font: normal 700 24px/1 "Indie Flower", cursive;
    text-align: center;
    text-shadow: 0 0 6px rgba(202, 228, 225, 0.92),
    0 0 30px rgba(202, 228, 225, 0.34),
    0 0 12px rgba(30, 85, 242, 0.52),
    0 0 21px rgba(30, 37, 242, 0.83),
    0 0 34px rgb(21, 18, 241, 0.87),
    0 0 54px rgba(30, 37, 242, 0.92);
}


@media (min-width: 992px) {
    .center-me-vertically-custom-4 {
        top: 37px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .center-me-vertically-custom-4 {
        top: 49px;
    }
}

@media (max-width: 768px) {
    .center-me-vertically-custom-4 {
        margin-bottom: 50px;
    }
}

/*END OF FOOTER----------------------*/

/*MAIN--------------------*/

/*HOMEPAGE*/

/*Slideshow*/

.img-1 {
    margin-top: 10px;
    margin-bottom: 10px;

}


.carousel-indicators .active {
    background-color: #ffff00;
}

.glyphicon-chevron-left {
    color: #ffff00;
}

.glyphicon-chevron-right {
    color: #ffff00;
}

/*Line break*/

.hr-custom {
    border-top: 10px dotted #ffff00;
    width: 85%;

}


/*Iconic Youtube Video*/

.hr-custom-2 {
    border-top: 3px solid #ff0000;
    width: 10%;
}

.video-custom-1 {
    margin-bottom: 10px;
    margin-top: 10px;
}


/*Instagram Pictures*/

.instagram-custom {
    margin: 10px;
}

.instagram-logo-custom {
    background: none;
    color: #ffff00;
}

/*ABOUT PAGE*/

/*About - Band*/
.band_photo {
    max-width: 75%;
    max-height: 75%;
    border-radius: 5%;
    border: 5px solid #ff0000;
}

.paragraph-font {
    color: #fff;
    font-family: "Quicksand", sans-serif;
    font-size: 16px;
}






